<h1>Confirm schedule</h1>

<p>
  <strong>Scheduled on:</strong>
  <%= @schedule.scheduled_on %>
</p>

<p>
  <strong>Description:</strong>
  <%= @schedule.description %>
</p>

<p>
  <strong>Users:</strong>
  <% @schedule.users.each do |user| %>
    <%= user.username %>
  <% end %>
</p>

<%= link_to 'Back', previous_wizard_path %>
